body {
    background-color: #ddd;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    height: 10vh;
    width: 100%;
}
.container {
    margin-top: 3em;
    padding: 0.5em;
    height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;

}

.numpad {
    height: 100%;
    width: auto;
    display: grid;
    gap: 5px;
    grid-template-columns:  repeat(4, 1fr);;
    grid-template-rows:  repeat(5, 1fr);;
}
#btn-clear,
#btn-delete {
    grid-column: span 2;
    border: 2px solid black;
    border-radius: 4px;
}


.btn {
    border: 2px solid black;
    border-radius: 4px;
    padding: 0;
    height: 4em;
    width: 4em;
}

.display {
    height: 100%;
    width: 94%;
    margin: 0.5em;
    background-color: gray;
    border: 2px solid black;
    border-radius: 4px;

}