body {
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    height: 10vh;
    width: 100%;
}
.container {
    margin-top: 3em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;

}

.numpad {
    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(4, 1fr);;
    grid-template-rows:  repeat(5, 1fr);;
}
#btn-clear,
#btn-delete {
    grid-column: span 2;
    border: 2px solid black;
    border-radius: 4px;
}


.btn {
    border: 2px solid black;
    border-radius: 4px;
    padding: 0;
    height: 5em;
    width: 5em;
}

.display {
    margin-bottom: 1em;

    background-color: gray;
    border: 2px solid black;
    border-radius: 6px;

}