* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./media/fonts/Roboto-Regular.ttf') format(truetype);
  }

body {
    background-color: #ddd;
    /* font-family: 'Roboto', sans-serif; */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    height: 16vh;
    width: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.container {
    margin-top: 3em;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;

}

.numpad {
    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(4, 1fr);;
    grid-template-rows:  repeat(5, 1fr);;
}
#btn-clear,
#btn-delete {
    grid-column: span 2;
    border: 2px solid black;
    border-radius: 4px;
}


.btn {
    border: 2px solid black;
    border-radius: 4px;
    padding: 0;
    height: 3.5em;
    width: 4em;
}


#btn-delete:hover,
#btn-clear:hover,
.btn:hover {
    background-color: #ddddddb3;
}
/* #btn-delete:active,
#btn-clear:active,
.btn:active {
    background-color: #dddddd14;
} */

.display {
    margin-bottom: 1em;

    background-color: white;
    border: 2px solid black;
    border-radius: 6px;

}